---

---

<div class="blog-nav">
  <a href="/blog/">Blog Top</a> |
  <a href="/tags/">Tags</a>
</div>

<style>
  /* ブログコンテンツメニュー用スタイル */
  .blog-nav {
    margin: 1rem 0;
    text-align: center;
  }

  a {
    font-weight: bold;
  }
</style>
